@keyframes scaleEffect {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  .formcontato__img  {
    animation: scaleEffect 2s ease-in-out infinite alternate;
  }